.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  & .userName {
    margin: 2px 0 2px 14px;
    font-style: italic;
    font-size: 13px;
    color: #585858;
  }

  & .content {
    display: flex;
    align-items: center;

    & .message {
      display: flex;
      background-color: #f1f1f1;
      border-radius: 4px;
      color: #585858;
      font-weight: medium;
      padding: 10px;
      position: relative;

      & .arrow {
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        height: 0;
        position: absolute;
        top: 13px;
        width: 0;
      }
    }
  }

  & .avatar {
    align-items: center;
    background-color: #3d4e8d;
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-left: 12.5px;
    margin-right: 12.5px;
    width: 40px;

    & .icon {
      color: white;
    }
  }
}

.wrapperLeft {
  align-items: flex-start;

  & .userName {
    margin: 2px 0 2px 14px;
  }

  & .content {
    justify-content: flex-start;
    flex-direction: row-reverse;

    & .message {
      text-align: left;

      & .arrow {
        border-right: 8px solid #f1f1f1;
        left: -7px;
      }
    }
  }
}

.wrapperRight {
  align-items: flex-end;

  & .userName {
    margin: 2px 14px 2px 0;
  }

  & .content {
    justify-content: flex-end;

    & .message {
      text-align: right;

      & .arrow {
        border-left: 8px solid #f1f1f1;
        right: -7px;
      }
    }
  }
}
